<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> Customer Profiling </h5>
      <ul>
        <li> R ,Tableau ,Sql ,Clustering, Association linking. </li>
      </ul>
      <p>Given customer’s data, I had to create core logic for creating segmentations of them using their locations, like if a user is more visible nearby malls, shopping centers then the user is a high asset for marketing. Etc. </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Campaign Intelligence and Optimizing </h5>
      <ul>
        <li> R, Python, Node, Mongodb, Regression </li>
      </ul>
      <p>To develop a campaign intelligence, to serve the ads in the real time by allocating the marketing budget efficiently to maximize the ROI. </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
